.hero-con {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/background1.png");
  display: flex;
  top: 0;
}
.hero {
  width: 90%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-text {
  text-align: start;
  margin-top: 50px;
  width: 90%;
  margin-left: 10px;
}

.hero-text h1 {
  font-size: 30px;
  font-weight: 700;
  max-width: 633px;
}

.hero-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  max-width: 633px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bookingSearch {
  width: 100%;
  background-color: #d0cfce;
  display: flex;
  padding: 10px;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.bookingSearch section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bookingSearchItem {
  color: #1e1e1e80;
  /*margin-right: 50px;*/
  justify-content: space-between;
  align-items: start;
}

.bookingSearchResult {
  align-self: start;
  display: inline-flex;
}
.searchInput {
  border: none;
  background: none;
  color: #0a3731;
  outline: none;
}
.bookingSearchInput {
  color: #0a3731;
  font-weight: 400px;
  font-size: 14px;
}
.searchIcon {
  color: #0a3731;
  height: 11.62px;
}
.searchbtn {
  background-color: #0a3731;
  color: #fff;
  width: 123px;
  height: 52px;
  border-radius: 5px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 20px;
}
.search img {
  width: 16px;
  margin-right: 10px;
}

.date {
  border: none;
  top: 0;
  background: none;
}
@media (min-width: 780px) {
  .hero-text {
    max-width: 894px;
    margin-left: 100px;
    margin-top: 150px;
  }
  .hero-text h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .bookingSearch {
    flex-direction: row;
    height: 92px;
  }
}
