.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-direction: column;
}

.featuredItem {
  position: relative;
  color: white;
}

.featuredImg {
  width: 380px;
  height: 304px;
}

.featuredTitle {
  position: absolute;
  background-color: rgba(195, 195, 195, 0.2);
  bottom: 20px;
  width: fit-content;
  border-radius: 6px;
  height: 55px;
  padding: 7px 22px;
  margin-left: 14px;
}

.featuredTitle h1 {
  font-size: 16px;
  font-weight: 700;
}

.fcText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featuredContainer {
  width: 100%;
  gap: 25px;
}

.featuredContainer h1 {
  font-size: 26px;
  line-height: 31px;
}

.featuredContainer p {
  font-size: 16px;
  line-height: 25px;
  color: #767676;
  padding-top: 25px;
  margin-bottom: 40px;
}

.featuredButton {
  background-color: #74ad1a;
  color: #fff;
  width: 101px;
  height: 44px;
  margin-top: 35px;
  border-radius: 2px;
  padding: 13px, 19px, 13px, 19px;
  border: 2px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
}

.hostcontainer {
  padding-left: 70px;
  padding-top: 130px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/b062c06a6b8142f73af7df6e4870fb06.jpg);
  background-position: center;
  background-size: cover;
  height: 487px;
  margin-top: 150px;
}

.hostcontainer h1 {
  color: #fff;
  font-size: 30px;
  width: 387px;
  line-height: 36.57px;
  margin-bottom: 20px;
}

.hostcontainer p {
  color: #fff;
  font-size: 17px;
  width: 387px;
  line-height: 20.72px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.hostbtn {
  color: white;
  background-color: #74ad1a;
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-right: 22px;
  font-weight: 600;
}

.hostmorebtn {
  color: #fff;
  background: transparent;
  border: 1px solid white;
  outline: none;
  height: 50px;
  border-radius: 7px;
  padding: 16px 18px;
  font-weight: 600;
}

.carsection {
  height: 469px;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  border-radius: 40px;
  width: 100%;
  margin-bottom: 150px;
}

.carsectiontext {
  background-color: hsl(172, 69%, 13%);
  padding-left: 81px;
  padding-top: 126px;
  color: #fff;
  width: 50%;
  border-radius: 40px 0 0 40px;
}

.carsectiontext h1 {
  font-size: 30px;
  margin-bottom: 27px;
}

.carsectiontext p {
  font-size: 16px;
  line-height: 23px;
  width: 434px;
  margin-bottom: 25px;
}
.carsection img {
  height: 469px;
  width: 610px;
  border-radius: 0 40px 40px 0;
}

.carsectiontext button {
  color: #0a3731;
  background-color: #fff;
  border-radius: 7px;
  padding: 13px;
  outline: none;
  border: none;
  font-weight: 600;
}
@media (min-width: 780px) {
  .featured {
    flex-direction: row;
  }
  .fcText {
    flex-direction: row;
  }
}
