.list-property-con {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-property {
  width: 90%;
  max-width: 1000px;
}
.list-property section {
  margin-top: 100px;
  width: 50%;
}
.list-property section div {
  padding: 5px 0;
  border: 1px solid lightgray;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 10px;
  color: rgb(168, 166, 166);
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
.list-property h1 {
  font-size: 25px;
}
.list-property p {
  color: gray;
  font-size: 16px;
}
.list-property-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
  height: 80px;
}
.list-property-footer div {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
